body{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
a{text-decoration:none;outline:0;}
a:hover{text-decoration:underline;outline:0;}
#header{height:35px;line-height:35px;background:#036;text-align:left;font-family:"Arial Black", Gadget, sans-serif;font-size:20px;text-shadow:#000 3px 3px 2px; color:#FFF; padding-left:20px; position:relative; overflow:hidden;}
.header{position:relative;overflow:hidden;float:right;padding-right:20px;font-size:14px;text-decoration:none; text-shadow:none;}
.header a{color:#FFF;font-weight:bold;padding:20px 10px;text-decoration:none;}
.header a:hover{background:#6d86b7;}
.header div.container{width:980px;position:relative;overflow:hidden; text-align:left; margin:0 auto;}
#wrapper{width:980px;margin:0 auto; position:relative;overflow:hidden; min-height:400px;}
#loogin_page{width:700px; margin:30px auto 0 auto; position:relative; overflow:hidden;}
#title{ margin:10px; border-bottom:1px solid #cfcfcf;font-size:16px;color:#036;font-weight:bold; padding:0 0 10px 0;}
input.button,a.button{background:#036;border:1px solid #000;padding:4px 8px;color:#FFF;font-weight:bold;cursor:pointer;}
span.red{color:#F00;font-weight:bold;}
.adsense_index{border-bottom:1px solid #cfcfcf;}
/* Rounde FB */
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{display:block}
.clearfix{zoom:1}
.UIRoundedTransparentBox{padding:0;margin:0}
.UIRoundedTransparentBox_Inner{padding:0;margin:0;position:relative}
.UIRoundedTransparentBox_Border{border:1px solid #cfcfcf;padding:0;margin:0;background:transparent}
.UIRoundedTransparentBox_Corner{background:transparent url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/b_cfcfcf.gif) left top no-repeat;width:8px;height:8px;padding:0;margin:0;overflow:hidden;position:absolute}
.UIRoundedTransparentBox_TL{left:0;top:0;background-position:0 0}
.UIRoundedTransparentBox_TR{right:0;top:0;background-position:-8px 0}
.UIRoundedTransparentBox_BL{left:0;bottom:0;background-position:0 -8px}
.UIRoundedTransparentBox_BR{right:0;bottom:0;background-position:-8px -8px}
.UIInterstitialBox_Container{padding:15px}
.table_container_clean{width:100%!important;border:0!important;background:#FFF!important; margin:0!important;padding:0!important;}
.table_container{border:1px solid #cfcfcf; width:710px; margin:10px auto; position:relative; overflow:hidden; padding:10px; background:#edeff4;}
.table_container tr td.caption{font-weight:bold; font-size:12px; width:40%;vertical-align:middle; text-align:right; padding-right:30px;}
.table_container tr td.content{ width:60%;vertical-align:middle;}
.table_container tr td.content input.text{width:240px;}
.table_container tr td.content select.select{width:245px;padding:2px;outline:0;}
.table_container tr td.content textarea.textarea{width:240px;}
.table_container tr td.content input.button{background:#036;border:1px solid #000;padding:4px 8px;color:#FFF;font-weight:bold; cursor:pointer;}
.table_container tr td.content input.buttonDisabled{background:#999;border:1px solid #000;padding:4px 8px;color:#FFF; font-weight:bold;cursor:pointer;}


#left{width:249px;position:relative;overflow:hidden;float:left; border-left:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;}
#left div.hr{height:15px;}
#left div.button{width:100%;padding-left:5px;font-size:12px;position:relative;overflow:hidden;line-height:24px;margin:2px 0;}
#left div.button:hover{background:#cfcfcf;color:#000; cursor:pointer;}
#right{width:748px;position:relative;overflow:hidden;float:right;border:1px solid #cfcfcf;border-top:0; min-height:480px;}

#footer{font-size:11px;color:#666;width:980px;margin:20px auto 0 auto; position:relative;overflow:hidden; padding:10px;}
.footer{font-size:11px;color:#666;width:980px;margin:0 auto; position:relative;overflow:hidden; padding:10px;}
/* Show By Ricardo J Valle */
#auxiliar { position:fixed; top: 0; left: 0; width:100%; padding:5px; font-size:16px; z-index:5000000; display:none;}
.error,.notice,.success{padding:.5em;text-align:center;border:2px solid #ddd;font-size:12px;}
.error{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}.notice{background:#FFF6BF;color:#514721; border-color:#FFD324;}.success{background:#E6EFC2;color:#264409;border-color:#C6D880;}.error a{color:#8a1f11;}
.notice a{color:#514721;}.success a{color:#264409;}
#ldg{display:none;}
/* Tables */
table.nlTable{width:100%;font-size:12px;}
table.nlTable thead tr td{height:25px;padding-left:5px;border-top:1px solid #cccccc;background:#036;font-size:12px;font-weight:bold;color:#FFF;}
table.nlTable tbody tr{cursor:pointer;}
table.nlTable tbody tr td{height:25px;padding-left:5px;border-top:1px solid #cccccc;}
table.nlTable tbody tr.r1{background:#FFFFFF;}
table.nlTable tbody tr.r2{background:#edf0f9;}
table.nlTable tfoot tr{background:#e3e9ff;}
table.nlTable tfoot tr td{height:25px;padding-left:5px;border-bottom:2px solid #bbccff;border-top:2px solid #bbccff;}
.icon{width:24px;height:24px;float:left;margin-right:5px;}
.icon_new{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/icon_new.png) no-repeat;}
.icon_report{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/icon_report.png) no-repeat;}
.icon_winner{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/icon_32x32_award.png) no-repeat;}
.icon_user{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/1292902960_user.png) no-repeat;}
.icon_app_new{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/1294817427_gnome-settings-default-applications.png) no-repeat;}
.icon_apps{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/1294817316_application-x-executable-script.png) no-repeat;}
.icon_app_post{background:url(http://i933.photobucket.com/albums/ad179/mcnallydevelopers/newsletter/cdn/1294817465_application-x-font-type1.png) no-repeat;}
h2.detail{ margin-left:10px;}
div.headerseparator{ padding:15px; font-size:12px;}
span.errors{color:#F00;font-weight:bold;}
#reportLoad{height:400px; width:97%;}
#m_f{color:#000;margin-top:10px;font-weight:bold;position:relative;overflow:hidden;}
.m_f{color:#000;margin-top:10px;font-weight:bold;position:relative;overflow:hidden;}
.m_c{padding:10px;width:auto;border-bottom:1px solid #cfcfcf;font-size:14px;font-weight:bold;position:relative;overflow:hidden;}
.m_b{padding:0 10px;}
span.atk{color:#F00;}
#DlgCont{display:none;}

#nick{text-transform:lowercase;}


#auxiliar { position: absolute; left: 0px; top: 0px; }
div > div#auxiliar { position: fixed; left:auto; top:0; width:870px; margin:0; height:40px; padding-top:10px; z-index:50; }
pre.fixit { overflow:auto;border-left:1px dashed #000;border-right:1px dashed #000;padding-left:2px; }
.notice{ text-align:center; border: 2px solid #ddd; font-size:18px; height:20px; padding:10px 0 0 0; }
.success{ text-align:center; border: 2px solid #ddd; font-size:18px; height:20px; padding:10px 0 0 0; }
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }